@page "/todo"
@inherits TodoPageBaseComponent

<h3>TodoPage</h3>

<h6>
    Add a new todo:
</h6>

<div class="input-group mb-3">
    <input class="form-control form-inline"
           placeholder="I have to do..."
           @onkeyup="KeyUpEnterTodo"
           @bind="todoItem.TaskName" />

    <div class="input-group-append">

        <button class="btn btn-outline-primary" type="button"
                @onclick="AddTodo">
            Add a new todo
        </button>
    </div>

</div>
   
@foreach (var item in @TodoItems)
{
    <TodoComponent TodoItem="@item"
                    UpdateCallback="@(async () => await UpdateTodo(item))">
    </TodoComponent>
}

 